:root {
    --primary: #EE1717;
    --secondary: #130B0B;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Star */
html {
    background-color: #fff;
    font-family: sans-serif;
}

#app-layout {
    background-color: #fff;
}



/* Header */

.menu-header-wrapper>.row {
    padding-bottom: .5rem;
}

.header__logo {
    margin: 10px 0;
}

.header__logo img {
    max-height: 60px;
    display: inline-block;
    transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -webkit-transition: all .2s ease-out 0s;
}

.header__fsearch {
    padding-left: 2rem;
    padding-right: 0;
}

.header__action__fsearch {
    position: relative;
    padding-left: 0;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    border: 2px solid var(--primary);
    border-radius: 12px;
    overflow: hidden;
    height: 42px;
    background: var(--primary);
}

.header__action__fsearch input {
    display: block;
    border: none;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 3px 50px 3px 15px;
}

.header__action__fsearch input:focus {
    outline: none;
    box-shadow: none;
}

.header__action__fsearch button {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 50px;
    text-align: center;
    padding: 0 0;
    color: #8D8D8D;
    font-size: 21px;
}

.header__action__fsearch button:hover {
    color: var(--primary);
}

.header__action {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 500;
}

.header__action__item {
    padding: 1px 6px;
    margin: 0;
    list-style-type: none;
}

.header__action__item>a {
    position: relative;
    padding-left: 46px;
    min-height: 40px;
    text-align: left;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    line-height: 18px;
    font-weight: 600;
}

.header__action__item>a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    min-height: 100%;
    content: "";
    display: block;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.header__action__icon_hotline::before {
    background: url('../images/header_icons/icon-header-hotline.png') no-repeat center;
    background-size: auto;
    background-size: auto 28px;
}

.header__action__icon_order::before {
    background: url('../images/header_icons/icon-header-cart.png') no-repeat center;
    background-size: auto;
    background-size: auto 28px;
}

.header__action__icon_checkorder::before {
    background: url('../images/header_icons/icon-header-delivery.png') no-repeat center;
    background-size: auto;
    background-size: auto 25px;
}

.header__action__icon_store::before {
    background: url('../images/header_icons/store_icon.jpg') no-repeat center;
    background-size: auto;
    background-size: auto 60px;

}

.header__action__icon_membership::before {
    background: url('../images/header_icons/icon-header-membership.png') no-repeat center;
    background-size: auto;
    background-size: auto 28px;
}


.header__action__item>a b {
    display: block;
    clear: both;
    color: var(--primary);
    word-break: normal;
}

.header__action__item a:hover {
    text-decoration: none;
    color: #0d6efd;
}

.header__action__item>a {
    text-align: left;
    color: inherit;
    line-height: 18px;
}

.navigation-itemlink {
    padding: 15px 9px 9px;
    color: #FFF;
    position: relative;
    padding: 15px 17px 9px;
    display: block;
    text-decoration: none;
}



.category-container {
    background-color: var(--primary);
}

.category-container .cate-title {
    font-size: 15px;
}

.slider-outer {
    position: relative;
    margin-top: -5%;
}

.slider-outer .list-slide {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: both;
}


.slider-outer .list-slide::-webkit-scrollbar {
    display: none;
}

.slider-outer .slide-item {
    min-width: 50%;
    scroll-snap-align: start;
}


.prev-slide-outer {
    background-color: #ee171774;
    border-radius: 50%;
    border: none;
    color: #ffffffc6;
    padding: 0;
    transition: 0.5s;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}

.next-slide-outer {
    background-color: #ee171774;
    border-radius: 50%;
    border: none;
    color: #ffffffc6;
    padding: 0;
    transition: 0.5s;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
}

.prev-slide-outer:hover {
    background-color: var(--primary);
}

.next-slide-outer:hover {
    background-color: var(--primary);
}


/* Box carousel product home */

.homebox-product .title-product-box {
    font-size: 14px;
    font-weight: 600;
    color: var(--secondary);
    margin-top: 8px;
    line-height: 1.1rem;
}

.homebox-product-item:hover {
    margin-top: -5px;
    transition: 0.3s;
}

.homebox-product-item:hover .title-product-box {
    color: var(--primary);
    transition: 0.3s;
}


/* Thanks box */
.thanks-box .content-box {
    background-color: #EE171710;
}

.thanks-box .content-box .title-box {
    font-size: 20px;
    font-weight: bold;
    color: var(--secondary);
    margin-bottom: 2rem;
}

.thanks-box .content-box .owl-stage-outer {
    position: relative;
}

.thanks-box .owl-carousel .owl-nav button.owl-prev {
    padding: 6px !important;
    background-color: #ee171784;
    border-radius: 100%;
    transition: 0.5s;
    color: #ffffff48;
    position: absolute;
    top: 50%;
    left: -3%;
    transform: translateY(-50%);
}

.thanks-box .owl-carousel .owl-nav button.owl-prev:hover {
    background-color: var(--primary);
    color: #fff;
}

.thanks-box .owl-carousel .owl-nav button.owl-next {
    padding: 6px !important;
    background-color: #ee171784;
    border-radius: 100%;
    transition: 0.5s;
    color: #ffffff48;
    position: absolute;
    top: 50%;
    right: -3%;
    transform: translateY(-50%);
}

.thanks-box .owl-carousel .owl-nav button.owl-next:hover {
    background-color: var(--primary);
    color: #fff;
}


/* New Product */
.new-products-box {
    background-color: var(--secondary);
}

.new-products-box .title-box {
    font-size: 30px;
    background-image: linear-gradient(to right, #FDE8E8, #978A8A);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    padding-top: 2px;
}

.product-new-item {
    padding: 28px;
    background-color: #fff;
    min-height: 388px;
    position: relative;
    width: 99%;
}

.img-product {
    text-align: center;
    margin: 0 auto;
}

.img-product img {
    max-width: 162px;
    width: 100%;
}

.list-new-product .title-product a {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2rem;
    color: var(--secondary);

    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-decoration: none;
}

.list-new-product .pre-price {
    color: var(--primary);
    font-size: 12px;
    font-weight: normal;
}


.list-new-product .price-product a {
    text-decoration: none;
    color: var(--primary);
    font-size: 14px;
    font-weight: bold;
}

.list-new-product .status-icon {
    width: 45px;
    height: 21px;
    position: absolute;
    top: 6px;
    left: 8px;
}

.nav-new-product {
    padding: 8px;
    background-color: #fff;
    color: var(--primary);
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-size: 14px;
}

.nav-new-product.active {
    padding: 8px;
    background-color: var(--primary);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-size: 14px;
}



/* Product by category */
.prod-cate-container {
    padding: 1.5rem 0;
    background: linear-gradient(to top, #d9d9d900, #737373a2);
}

.prod-cate-list {
    display: flex;
    justify-content: center;
    gap: 2.25rem;
}

.prod-cate-list .image-cate img {
    background-color: #fff;
    border-radius: 50%;
}

.prod-cate-list .image-cate {
    margin-bottom: 0.625rem;
}

.prod-cate-item {
    max-width: 5.625rem;
    text-align: center;
}

.prod-cate-item:hover .image-cate img {
    background-color: #d70018;
    transition: 0.5s;
}

.prod-cate-item:hover {
    margin-top: -5px;
    transition: 0.5s;
}

.prod-cate-item .title-cate {
    font-size: 0.875rem;
    color: var(--secondary);
}

.list-product-cate {
    padding: 1rem;
}

.list-product-cate .product-item {
    max-width: calc(20% - 0.97rem);
    background-color: #fff;
    position: relative;
    border: 1px solid #ccc;
}

.products-by-category .title-product a {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2rem;
    color: var(--secondary);

    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-decoration: none;
}

.products-by-category .price-product a {
    text-decoration: none;
    color: var(--primary);
    font-size: 14px;
    font-weight: bold;
}

.products-by-category .price-product del {
    color: var(--secondary);
    font-weight: normal;
    padding-left: 1rem;
}

.product-item .status-icon {
    width: 45px;
    height: 21px;
    position: absolute;
    top: 6px;
    left: 8px;
}


.show-all-product-cate .btn-show-all {
    padding: 0.8rem 1rem;
    border: 1px solid var(--primary);
    max-width: 14.75rem;
    border-radius: 10px;
}

.show-all-product-cate .btn-show-all:hover {
    background-color: var(--primary);
    transition: 0.3s;
}

.show-all-product-cate .btn-show-all:hover a {
    color: #fff;
    transition: 0.3s;
}

.show-all-product-cate .btn-show-all a {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 0.8rem 1rem;
}

@media screen and (max-width: 1023.98px) {
    .list-product-cate .product-item {
        max-width: calc(33.33% - 0.8rem);
        background-color: #fff;
        position: relative;
        border: 1px solid #ccc;
    }
}

@media screen and (max-width: 767.98px) {
    .list-product-cate .product-item {
        max-width: calc(50% - 0.6rem);
        background-color: #fff;
        position: relative;
        border: 1px solid #ccc;
    }

    .products-by-category .price-product del {
        color: var(--secondary);
        font-weight: normal;
        padding-left: 0.5rem;
    }
}


/* ACCESSORIES */

.title-container {
    font-size: 1.625rem;
    font-weight: bold;
    color: var(--primary);
}

.accessories-list .title-access {
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary);
}

.accessories-list .access-item {
    transition: transform 0.5s ease;
}

.accessories-list .access-item:hover {
    transform: translateY(-5px);
    transition: 0.5s;
}

.accessories-list .access-item:hover .title-access {
    color: var(--primary);
    transition: 0.5s;
}

/* NEWS */
.title-news h3 {
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-decoration: none;
}

/* Footer */
.title-component-footer {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--secondary);
}

.footer-ul li {
    position: relative;
    background: url(../images/icon-send-right.png) no-repeat left 4px;
    background-size: 10px auto;
    padding-left: 18px;
    clear: both;
    display: block;
    margin-bottom: 8px;
    vertical-align: middle;
    text-transform: capitalize;
    color: var(--secondary);
}

.footer-ul li a {
    color: var(--secondary);
}

.social-footer a {
    display: inline-block;
    text-align: center;
    color: #FFF !important;
    width: 32px;
    height: 32px;
    line-height: 30px;
    border-radius: 4px;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    vertical-align: middle;
}

.bg-facebook {
    background: #5d72a4;
}

.bg-youtube {
    background: #F00;
}

.bg-instagram {
    background: rgb(38, 38, 38);
}

.bg-tiktok {
    background: #000;
}




/* PAGE PRODUCTS */
.progroup-bestseller {
    background-color: var(--primary);
    color: #fff;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: .35rem;
}

.boxproduct__title {
    position: relative;
    display: block;
    margin: 0;
    margin-bottom: 0px;
    font-family: var(--ftitle);
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.2;
}

.profilter_header_item {
    color: var(--secondary);
}

.filterbox_group_container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.35rem;
    margin-right: -.35rem;
    flex-direction: row;
}

.filterbox_ulgroup_item {
    flex: 0 0 auto;
    width: auto;
    padding-left: .35rem;
    padding-right: .35rem;
}

.filterbox_dropdown_label {
    display: block;
    border: 1px solid #ccc;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    background-color: #eee;
    padding: .35rem .75rem;
    color: rgb(17, 17, 17);
    text-transform: capitalize;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    border-radius: .25rem;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.rightbox__filteritem_runfilter {
    font-size: 11px;
    font-weight: 500;
    padding: .375rem .5rem;
    text-align: center;
    background-color: var(--primary);
    color: #fff;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
}

.filterbox_dropdown_label:hover {
    color: var(--primary);
    border-color: var(--primary);
}

.boxcomment-title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--secondary);
    margin: 0 0 .75rem;
}

.comment-input-group textarea {
    resize: none;
    background-color: var(--bs-light);
    font-size: 14px;
    line-height: 20px;
    transition: height .3s ease;
}

/* PRODUCT DETAIL PAGE*/
.breadcrumb-container {
    position: relative;
    z-index: 1;
    background-color: rgb(241, 240, 241);
    color: #000;
    text-align: center;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #CCC;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--secondary);
}

.breadcrumb {
    font-size: 0.875rem;
    background: none;
    padding: 12px 0 10px;
    margin: 0;
    list-style: none;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 400;
    color: inherit;
    letter-spacing: .5px;
}

.breadcrumb-item>a {
    color: var(--secondary);
}

.breadcrumb a:hover {
    color: var(--primary);
    text-decoration: none;
}

.wrapper-container {
    padding: 0.75rem 0.75rem 1.5rem 0.75rem;
}

.prodetail__overview_info {
    padding-left: 3rem;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.prodimg_carousel .owl-next,
.prodimg_carousel .owl-prev,
.prodimg_carousel__thumb .owl-next,
.prodimg_carousel__thumb .owl-prev {
    position: absolute;
    top: 50%;
    z-index: 9;
    transform: translateY(-50%);
    background: #fff !important;
    color: #8C8C8C;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    width: 38px;
    height: 38px;
    font-size: 25px;

}

.prodimg_carousel .owl-prev,
.prodimg_carousel__thumb .owl-prev {
    left: 0;
    right: auto;
}

.prodimg_carousel .owl-next,
.prodimg_carousel__thumb .owl-next {
    right: 0;
    left: auto;
}

.prodimg_carousel .owl-prev:hover,
.prodimg_carousel .owl-next:hover {
    color: var(--primary) !important;
}


.prodimg_carousel__thumb {
    margin-top: 1rem;
    position: relative;
    padding-left: 32px;
    padding-right: 30px;
}

.prodimg_carousel__thumb .prodimg__img img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .25rem;
}

.prodimg_carousel__thumb .prodimg__img {
    display: block;
    padding: 0 .325rem;
    cursor: pointer;
}

.prodimg_carousel__thumb .owl-next,
.prodimg_carousel__thumb .owl-prev {
    width: 28px !important;
    height: 28px !important;
}

.prodimg_carousel__thumb .active.current img {
    border-color: var(--primary);
}

.prodetail-title {
    font-size: 1.313rem;
    font-weight: bold;
    color: var(--secondary);
}

.prodetail-price .price {
    color: var(--primary);
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 26px;
    margin-right: 0;
    text-transform: capitalize;
}

.proprice-item {
    padding: 8px 5px;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
}

.proprice-item.active {
    border: 1px solid var(--primary);
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .25);
    position: relative;
}

.proprice-item.active::before,
.proprice-item-color.active::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    content: "✓";
    color: #fff;
    line-height: .95;
    background-color: var(--primary);
    width: 18px;
    height: 14px;
    border-radius: 0 0 1rem 0;
    text-align: center;
}

.proprice-codegroup-links {
    margin-left: 0 !important;
}

.proprice-codegroup-links .proprice-item {
    width: calc(33.33% - 1rem);
}

.proprice-item a {
    color: var(--primary);
}

.proprice-item a b {
    color: var(--secondary) !important;
}

.proprice-item.active a {
    color: var(--primary);
}

@media screen and (max-width: 767.98px) {
    .prodetail__overview_info {
        padding: 0;
    }


    .prodetail-title {
        font-size: 1.188rem;
        padding: 0;
        line-height: 1.35;
    }

    .proprice-codegroup-links .proprice-item {
        width: calc(50% - 1rem);
    }


    .proprice-item-color {
        width: calc(50% - 1rem);
    }
}



.proprice-item-color {
    position: relative;
    cursor: pointer;
    padding: 8px 5px;
    width: calc(33.33% - 1rem);
    border: 1px solid #a7a7a7;
    border-radius: 4px;
}


.proprice-item-color.active {
    border: 1px solid var(--primary);
    position: relative;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .25);
}


.proprice-item-color>input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.proprice-item-color img {
    flex: 0 0 auto;
    width: 40px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
    background-color: #fff;
}

.proprice-item-color_des {
    width: calc(100% - 40px);
    font-size: 12px;
    color: var(--secondary);
    font-weight: 600;
    box-sizing: border-box;
}

.proprice-item-color.active .proprice-item-color_des {
    color: var(--primary);
}

.prodetail-overview_quote_label {
    background-color: var(--primary) !important;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    border: none;
    padding: 0.5rem 1rem;
}

.prodetail-overview_quote_label i {
    font-size: 21px;
    margin-right: .5rem;
}

.prodetail-overview_tabinfo .procontent p,
.prodetail-overview_tabinfo .procontent li {
    margin-bottom: 5px;
    list-style: disc;
    line-height: 1.3rem;
    font-size: 0.875rem;
}

.prodetail-overview_tabinfo .procontent ul {
    padding-left: 18px;
}

.prodetail-overview_tabinfo .card-body {
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary);
}

.btn-prodetail {
    display: block;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    padding: 11px 10px 10px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
}

.btn-prodetail b {
    display: block;
    clear: both;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}


.add-to-cart-pre__submit {
    background-color: #1E36D5 !important;
}

.buynow-submit {
    background-color: var(--primary) !important;
}

.add-to-cart-submit {
    background-color: #fff !important;
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.pay-submit {
    background-color: #1285ff !important;
}


.href_protradein {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    line-height: 20px;
    font-size: 14px;
}

.href_protradein::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: inline-block;
    width: 50px;
    height: 30px;
    background: url(../images/icon-tradein.png) no-repeat 0 0;
    background-size: auto;
    background-size: auto 20px;
}


.prodetail-liststore {
    counter-reset: my-sec-counter;
    max-height: 350px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 300;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) #f8f9fa;
}

.prodetail-liststore .prodetail-liststore-item {
    display: block;
    position: relative;
    padding: .75rem .75rem .75rem 2.15rem;
    border-bottom: 1px solid #ddd;
}

.prodetail-liststore .prodetail-liststore-item::after {
    position: absolute;
    left: .5rem;
    top: .75rem;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid var(--primary);
    color: var(--primary);
    display: block;
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter);
}

.prodetail-liststore .prodetail-liststore-item:nth-child(2n) {
    background-color: #f8f9fa;
}

.store-province-wrapper {
    border: 1px solid var(--primary);
}

.guarante-wrapper {
    padding: 1rem;
    border: 1px solid var(--primary);
}

.guarante-wrapper i.fa-shield-alt {
    color: var(--primary) !important;
    font-size: 55px;
    margin-bottom: .95rem;
}

.guarante-wrapper b {
    color: var(--primary) !important;
    font-size: 19px;
    margin-bottom: 1rem !important;
    padding-bottom: 1rem;
    border-bottom: 1px solid #878787;
}



.procontent,
.procontent pre {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #000;
    text-align: left;
}

.procontent pre {
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: none;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 0;
    margin-bottom: 15px;
}

.procontent a {
    color: var(--primary);
    text-decoration: none;
}

.procontent a:hover {
    color: red;
    text-decoration: none;
    border-bottom: 1px dotted red;
}

.procontent a.btn {
    padding-top: .5rem;
    color: #FFF;
    background: var(--color-hover);
    font-size: 14px;
    font-weight: bold;
}

.procontent * {
    max-width: 100% !important;
}

.procontent img {
    display: inline-block;
    max-width: 100%;
    height: auto !important;
}

.procontent h1,
.procontent h2,
.procontent h3,
.procontent h4,
.procontent h5,
.procontent h6 {
    line-height: 120%;
}

.procontent img {
    display: inline-block;
    max-width: 100%;
    height: auto !important;
}

.procontent h1 {
    font-size: 115%;
    line-height: 170%;
}

.procontent h2 {
    font-size: 110%;
    font-weight: bold;
    line-height: 160%;
}

.procontent h3 {
    font-size: 105%;
    font-weight: bold;
    line-height: 150%;
}

.procontent h4 {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}

.procontent h5 {
    font-size: 95%;
    font-weight: normal;
    line-height: 95%;
}

.procontent h6 {
    font-size: 90%;
    font-weight: normal;
    line-height: 90%;
}

.procontent p {
    margin-bottom: 15px;
}

.procontent img,
.procontent iframe {
    max-width: 100%;
}

.procontent p:last-child,
.procontent ul li p:last-child {
    margin: 0 !important;
}

.procontent table {
    border-collapse: collapse !important;
    width: 100% !important;
    max-width: 100%;
    margin-bottom: 20px;
}

.procontent table>thead>tr>th,
.procontent table>tbody>tr>th,
.procontent table>tfoot>tr>th,
.procontent table>thead>tr>td,
.procontent table>tbody>tr>td,
.procontent table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
}

.procontent table>thead>tr>th {
    vertical-align: bottom;
    background-color: #EEE;
}

.procontent .table[border="1"] tbody,
.procontent .table[border="1"] td,
.procontent .table[border="1"] tfoot,
.procontent .table[border="1"] th,
.procontent .table[border="1"] thead,
.procontent .table[border="1"] tr {
    border-width: 1px;
}

.procontent .table[border="2"] tbody,
.procontent .table[border="2"] td,
.procontent .table[border="2"] tfoot,
.procontent .table[border="2"] th,
.procontent .table[border="2"] thead,
.procontent .table[border="2"] tr {
    border-width: 2px;
}

.procontent .table[border="3"] tbody,
.procontent .table[border="3"] td,
.procontent .table[border="3"] tfoot,
.procontent .table[border="3"] th,
.procontent .table[border="3"] thead,
.procontent .table[border="3"] tr {
    border-width: 3px;
}

.procontent ul {
    padding-left: 2rem;
    list-style: disc;
    margin-bottom: 1rem;
}


.procontent li {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 6px;
}

.prodetail-text-title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--secondary);
    margin: 0 0 .75rem;
}

.prodetail-text-content {
    padding-right: 3rem !important;
}

.prodetail-text-wrapper {
    background: linear-gradient(180deg, #F7F7F7 0%, rgba(247, 247, 247, 0) 100%);
    padding: 1.75rem 2.5rem;
    border-radius: .5rem;
}

.prodetail-action-btn {
    border: 1px solid var(--primary);
    background: #FFF;
    display: inline-block;
    padding: .5rem 1rem;
    min-width: 160px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    text-transform: capitalize;
    color: var(--primary);
    border-radius: .5rem;
}

.prodetail-action-btn p::after {
    margin-left: 6px;
    font-size: 13px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.prodetail-action-btn.show-max p::after {
    content: "\f150";
}

.prodetail-action-btn.show-min p::after {
    content: "\f151";
}

.prodetail-technology-title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: capitalize;
    color: black;
    margin: 0 0 .75rem;

}


.prodetail-technology-wrapper table {
    border-collapse: collapse !important;
    border: none;
    width: 100% !important;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 22px;
    text-align: left;
    color: var(--secondary);
    max-height: 420px;
    margin-bottom: 1rem;
    overflow: hidden;
}

.prodetail-technology-wrapper tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, .05);
}

.prodetail-technology-wrapper tbody td {
    min-width: 95px;
    padding: 12px 10px;
    line-height: 1.42857143;
    vertical-align: middle;
}

.prodetail-reviewbox-rating {
    border: 1px solid #B8B8B8;
    border-radius: .25rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
}

.prodetail-reviewbox-title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: capitalize;
    color: #3f3f3f;
    margin: 0 0 .75rem;
}

.rating-overview-wrapper {
    --bs-gutter-x: 1rem;
    border: 1px solid #ddd;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
    background-color: #f8f9fa;
}

.rating-overview-total {
    padding: calc(1rem * 1.5) 1rem;
    border-right: 1px solid #ddd;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.prodetail-reviewbox-rating .btn-writing-rate {
    background-color: #0074ff !important;
    color: RGB(255, 255, 255);
    max-width: 320px;
    display: inline-block;
    font-size: 15px;
}

.prodetail-reviewbox-rating .btn-writing-rate:hover {
    background-color: rgb(8, 85, 200) !important;
    transform: translateY(-1px);
    box-shadow: 0 .25rem .5rem rgba(33, 37, 41, .25) !important;
}

.prodetail-reviewbox-rating .btn-writing-rate b {
    font-size: 15px !important;
}

.prodetail-reviewbox-rating .btn-writing-rate i {
    margin-right: 4px;
}

.rating-overview-listdetail {
    padding: 1rem;
}

.rating-overview-listdetail .rating-overview-listdetail-item:not(:last-child) {
    margin-bottom: .25rem;
}

.rating-overview-listdetail-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    line-height: 1.1;
    justify-content: space-between;
}

.rating-overview-listdetail-item-rating {
    flex: 0 0 auto;
    width: 90px;
    padding-right: .75rem;
    font-size: 11px;
    color: #777;
}

.rating-overview-listdetail-item-rating>.fas {
    color: var(--primary);
}

.rating-overview-listdetail-item-progress {
    flex: 1;
    border-radius: 26px;
    height: .65rem;
    margin-top: 0;
    background-color: #e9ecef;
}

.rating-overview-listdetail-item-text {
    flex: 0 0 auto;
    width: 110px;
    padding-left: .75rem;
    text-align: right;
    font-size: 13px;
    line-height: 18px;
    font-family: var(--ftitle);
    color: #333;
}

.commentlist-item {
    padding: 0;
    margin: 1.25rem 0 0;
    list-style: none;
}

.commentlist-item-level {
    margin-bottom: 1rem;
}

.ratinglist-item-header {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.2;
    align-items: center;
    margin-bottom: .75rem;
}

.ratinglist-item-header-info {
    flex: 1 0 0%;
    padding-left: .75rem;
    padding-right: 1.5rem;
}

.ratinglist-item-header-name {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: .35rem;
}

.ratinglist-item-header-info>* {
    display: block;
    color: var(--secondary) !important;
}

.ratinglist-item-header-time {
    font-size: 12px;
    color: #222;
}

.ratinglist-item-text {
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    color: #3f3f3f;
}


.btn-comment-reaply {
    color: var(--primary) !important;
}

.btn-comment-reaply:hover {
    background-color: #ee1717c9 !important;
    color: #fff !important;
}

.commentlist-item-level--sub {
    position: relative;
    border-left: 3px solid var(--primary);
    padding-left: .75rem;
    margin-top: 2.5rem;
}

.commentlist-item-level--sub::before {
    position: absolute;
    left: -3px;
    top: -1.3rem;
    display: block;
    content: "Trả lời";
    color: var(--primary);
    font-size: 14px;
}

.commentlist-item-level--sub .ratinglist-item-header-name {
    color: var(--primary) !important;
}

.commentlist-item-level--sub .ratinglist-item-header-avatar {
    border: 1px solid var(--primary);
    display: flex;
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.commentlist-item-level--sub .ratinglist-item-header-avatar img {
    height: auto;
    width: 25px;
    background-color: #fff !important;
}

.pronav-similar .pronav-similar-wrapper {
    padding-top: 1rem;
    border-top: 1px solid rgba(137, 137, 137, .8);
}

@media screen and (max-width: 1279.98px) {
    .pronav-similar .pronav-similar-wrapper {
        border-top: none;
    }
}

.pronav-similar .boxproduct__title {
    color: var(--secondary) !important;
}

.form-header-avatar {
    background-image: url(../images/avatar-form-header.png);
    background-color: transparent;
    box-shadow: none !important;
}

.form-header-avatar {
    display: inline-block;
    width: 125px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    background-size: auto;
    background-size: cover;
    background-color: #fff;
    margin: 0 auto 1rem;
}

.auth-form {
    padding-top: 2rem;
    border-radius: .5rem;
    --width-boxitem: 520px;
    position: relative;
    overflow: hidden;
    max-width: var(--width-boxitem);
    padding: 0em;
    padding-top: 0em;
    margin: 1.5rem auto 5rem;
}

.auth-form .form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.auth-form .form-header-title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 21px;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: var(--primary);
}

.auth-form .form-wrapper {
    min-height: 100%;
    flex: 0 0 auto;
    max-width: var(--width-boxitem);
    width: 100%;
    padding: 2rem 2rem;
}

.auth-form .form-control {
    line-height: 30px;
    margin-bottom: .25rem;
}

.auth-form .form-control:focus {
    border: 1px solid var(--primary) !important;
}

.auth-form .f-title {
    font-weight: 400;
    letter-spacing: .5px;
    color: var(--secondary);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

@media screen and (max-width: 1023.98px) {
    .auth-form .form-wrapper {
        padding: 2rem 0;
    }
}

@media screen and (max-width: 767.98px) {
    .auth-form .form-wrapper {
        padding: 2rem 0;
    }
}

.auth-form .btn {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: .75rem;
    background-color: #0074ff;
}

.auth-form .btn:hover {
    background-color: #1285ff;
}

.cart-container {
    background-color: #eaeaea !important;
    padding: 1.5rem 0 !important;
}

.cart-wrapper {
    margin: 0 auto;
    max-width: 720px;
}

.cart-title {
    border-bottom: 1px solid #DDD;
    position: relative;
    display: block;
    padding: 12px 0 7px 0;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0;
    font-weight: bold;
    font-size: 17px;
    line-height: 1.2;
    color: var(--primary);
}

.cart_btnitem {
    position: relative;
    background: var(--primary);
    border-color: var(--primary);
    color: #FFF;
    font-weight: bold;
    padding-bottom: 8px;
    font-size: 15px;
    padding-top: 10px;
    text-transform: uppercase;
}

.cart_btnitem:hover {
    background-color: var(--secondary);
    color: #FFF;
}

.cart-navstep-item--order {
    background-image: url(../images/cart-items/cart-icon-product.svg);
}

.cart-navstep-item--customer {
    background-image: url(../images/cart-items/cart-icon-user.svg);
}

.cart-navstep-item--payment {
    background-image: url(../images/cart-items/cart-icon-payment.svg);
}

.cart-navstep-item--complete {
    background-image: url(../images/cart-items/cart-icon-complete.svg);
}

.cart-navstep-item {
    position: relative;
    flex: 1 0 0;
    padding: .5rem .35rem;
    padding-top: 0.5rem;
    text-align: center;
    background-size: auto 36px;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 50px;
}

.cart-navstep .cart-navstep-item:first-child:after {
    display: none;
}

.cart-navstep-item::after {
    position: absolute;
    right: calc(50% + 35px);
    top: 18px;
    z-index: 1;
    content: "";
    display: block;
    width: calc(100% - 70px);
    height: 1px;
    border-top: 3px dashed var(--primary);
}

.cart-navstep-item-label {
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: var(--primary);
    padding-top: 28px;
    background: url(../images/cart-items/cart-icon-complete.svg) no-repeat center top;
    background-size: auto;
    background-size: auto 20px;
}

.cart-navstep {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 2rem;
    margin-left: -.35rem;
    margin-right: -.35rem;
}

.cart-navstep-item:not(.active) {
    filter: invert(65%) sepia(89%) saturate(697%) hue-rotate(302deg) brightness(109%) contrast(102%);
}

.fcart__title {
    position: relative;
    display: block;
    padding: 0;
    margin: 0 0 1rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--secondary);
}

.cartitem {
    margin: 0 0 1.25rem;
    padding: .75rem;
    font-size: 13px;
    line-height: 22px;
    background-color: #fff;
    border-radius: .75rem;
    box-shadow: 0 .125rem .25rem rgba(33, 37, 41, .075);
}

.cartitem .photo {
    flex: 0 0 auto;
    width: 100px;
    padding-left: 0;
    padding-right: .75rem;
}

.cartitem>.col {
    padding: 0 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.cartitem .product {
    margin-left: 0;
    margin-right: 0;
}

.cartitem .product-info,
.cartitem .product>.col {
    padding: 0;
}

.cartitem .title {
    margin: 0 0 .25rem;
    color: #393939 !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.cartitem .title a {
    color: inherit;
}

.cartbtn_removeitem {
    padding: .20rem .5rem .12rem;
    font-size: 12px;
    font-weight: 500;
}


.btn-hover {
    border: 2px solid var(--secondary);
    font-weight: 600;
    color: var(--secondary);
    border-radius: 8px;
    transition: all 1s ease;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-transform: capitalize;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.btn-hover::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            var(--primary),
            transparent);
    transition: all linear 0.3s;
}

.btn-hover:hover {
    background-color: var(--primary);
    color: #fff;
}

.btn-hover:hover::before {
    left: 100%;
}

.cartitem .color {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: .35rem;
}

.fcartbox .order-color {
    max-width: 200px;
    font-size: 12px;
    line-height: 15px;
    padding-left: .75rem;
    min-height: 0;
    border-radius: 32px !important;
}

.fcartbox .form-select {
    padding-left: .5rem;
    padding-right: .5rem;
}

.cartitem .des-price-qty {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
}

.cartitem .des-price {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 0;
}

.cartitem .des-price .price {
    color: var(--primary);
    font-weight: bold;
}

.cartitem .des-price s {
    display: inline-block;
    margin-left: .5rem;
}

.cartitem .qty {
    flex: 0 0 auto;
    width: auto;
}

.faddcart-qtygroup {
    --border-color: #ccc;
    display: flex;
    flex-wrap: nowrap;
    background-color: #F7F7F7;
    overflow: hidden;
    border-radius: 36px;
}

.faddcart-qtygroup button {
    flex: 0 0 auto;
    width: 40px;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    font-size: bold 13px/1 var(--ftitle);
    color: var(--color);
}

.fcartbox .form-control {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.faddcart-qtygroup input {
    flex: 0 0 auto;
    width: 46px;
    min-height: 30px !important;
    padding-left: .35rem;
    padding-right: .35rem;
    text-align: center;
    border: none;
    background: none;
    font: 400 17px/1.2 var(--ftitle);
    border-radius: 0;
}

[type="number"],
.hide_arrow {
    -moz-appearance: textfield;
}

.faddcart-qtygroup button:hover {
    color: var(--primary);
}

.cartitem.voucher {
    border-radius: .75rem !important;
    overflow: hidden;
}

.voucher-deactive #input-group--voucher.collapse {
    border: 1px solid #fff;
}

.input-group--voucher {
    padding: 0;
    box-shadow: 0 .125rem .25rem rgba(var(--bs-body-color-rgb), .075);
    background-color: rgb(255, 255, 255);
    border: 1px solid #fff;
    flex-wrap: nowrap;
}

.input-group--voucher,
.cartitem.voucher {
    border-radius: .75rem !important;
    overflow: hidden;
}

.input-group--voucher input {
    flex: 1 0 0;
    border: none;
    border-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 1rem .75rem;
    font-size: 16px;
    font-weight: 300;
    outline: none;
}

.input-group--voucher .input-group-text {
    border: none;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 110px;
    overflow: hidden;
    background: url(../images/icon-voucher.svg) no-repeat center;
    background-position-x: center;
    background-size: auto;
    background-size: auto 26px;
    background-position-x: 70px;
    font-size: 14px;
    text-transform: capitalize;
}

.input-group--voucher .input-group-text:hover {
    filter: invert(11%) sepia(93%) saturate(4604%) hue-rotate(350deg) brightness(107%) contrast(97%);
}

.cartitem.cartfooter {
    background: none;
    font-weight: 300;
    color: #3f3f3f;
    font-size: 16px;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
}

.cartitem .price {
    flex: 0 0 auto;
    width: 140px;
    font-weight: bold;
    color: var(--primary);
}

.cart_btnitem-red {
    position: relative;
    background: var(--primary);
    border-color: var(--primary);
    color: #FFF;
    font-weight: bold;
    padding-bottom: 8px;
    font-size: 15px;
}

.fcart__title a {
    color: inherit;
    display: inline-block;
    position: relative;
    padding-left: 30px;
}

.fcart__title a::before {
    position: absolute;
    left: 0;
    top: 5px;
    z-index: 1;
    content: "";
    display: block;
    width: 30px;
    height: 16px;
    background: url(../images/arrow-long-left.svg) no-repeat left 0;
    background-size: auto;
    background-size: auto 16px;
}

.fcartbox-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 0;
    color: #000;
}

.fcartbox--cusinfo {
    background-color: #fff;
    padding: 1.5rem 1.5rem;
    margin: 0;
    border-radius: .35rem;
}

.delivery_method_group label {
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}

.fcartbox label {
    font-weight: 500;
    margin-bottom: 0;
    display: block;
    font-size: 13px;
    color: var(--secondary);
}

.delivery_method_group label input:checked~span {
    color: #0074ff;
}

.form-floating>.form-select~label::after {
    position: absolute;
    inset: 1rem 0.375rem;
    z-index: -1;
    height: 1.5em;
    content: "";
    background-color: #fff;
    border-radius: 0.375rem;
}

.delivery-method-boxitem.active {
    display: flex;
}

.delivery-method-boxitem>* {
    padding-right: calc(1rem * .5);
    padding-left: calc(1rem * .5);
    margin-top: 1rem;
}

.delivery-method-boxitem {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    display: none;
}

.fcartbox textarea.form-control {
    height: 95px;
}

.fcartbox-invoice.active {
    display: flex;
    margin-top: .25rem;
}

.fcartbox-invoice {
    display: none;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.fcart-payment-boxitem {
    border: 1px solid #B8B8B8;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
}

.paymentbox {
    background-color: #fff;
    padding: 1.5rem 1.5rem;
    margin: 0;
    border-radius: .35rem;
}

.fcart-payment-boxitem p i {
    margin-right: .5rem;
}

.fcart-payment-boxitem-title {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-bottom: 1.25rem !important;
}

.fcart-payment-boxitem-title .icon-fcartorder {
    padding-left: calc(1.5rem + 15px);
}

.fcart-payment-boxitem-title>span {
    display: inline-block;
    background-color: var(--primary);
    color: #fff;
    padding: .25rem 1.5rem;
    padding-left: 1.5rem;
    border-radius: 8px;
}

.icon-fcartorder {
    background-image: url(../images/icon-fcart-order.png);
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 12px center;
}

.fcart-payment-boxitem p>b {
    font-weight: 300;
    color: #000;
}

.fcart-payment-boxitem .fas {
    font-weight: 900;
}

.fcart-payment-boxitem p {
    margin-bottom: .75rem;
    color: #000;
}

.fcart-payment-boxitem-promotion p {
    margin-bottom: .15rem;
}

.fcart-payment-boxitem-promotion {
    --bs-alert-padding-x: .75rem;
    --bs-alert-padding-y: .5rem;
    --bs-alert-margin-bottom: 0;
    margin-top: .5rem;
    font-size: 12px;
    line-height: 18px;
}

.fcart-payment-boxitem>p:last-child {
    margin-bottom: 0;
}

.fcart-payment-boxitem-title .icon-fcartcustomer {
    padding-left: calc(1.5rem + 15px);
}

.icon-fcartcustomer {
    background-image: url(../images/icon-fcart-customer.png);
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 12px center;
}

.fcart-payment-item {
    position: relative;
    margin-top: .75rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.fcart-payment-item input {
    position: absolute;
    right: 1rem;
    top: 11px;
    order: 2;
    margin-left: auto;
    width: 1.075rem;
    height: 1.075rem;
}

.fcart-payment-item .form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);

}

.fcart-payment-item .form-check-input:checked+span {
    background-color: rgb(221, 221, 221);
}

.fcart-payment-item span[class*="fcart-payment-icon--"] {
    padding-left: 52px;
    background-position: 1rem 10px;
    background-repeat: no-repeat;
    background-size: auto 24px;
}

.fcart-payment-item span {
    display: block;
    width: 100%;
    padding: .65rem 1rem;
    padding-left: 1rem;
    background-color: #f4f4f4;
    border-radius: 32px;
    cursor: pointer;
}

.fcart-payment-icon--payment-banking {
    background-image: url(../images/payment-banking.png);
}

.fcart-payment-icon--payment-cod {
    background-image: url(../images/payment-cod.png);
}

.transition {
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.successful-payment-icon i {
    font-size: 12rem;
    color: #62b57e;
}

.successful-payment-title {
    font-size: 2rem;
    margin-top: 1rem;
    color: #62b57e;
    font-weight: bold;
}

.successful-payment-box span {
    margin-top: 0.5rem;
}

.successful-payment-container {
    background-color: #fff !important;
}